/* https://rehype-pretty-code.netlify.app/#multiple-themes-dark-and-light-mode */

/* explicit light mode */
.light-mode {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }
}

/* implicit light mode */
@media (prefers-color-scheme: light) {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }
}

/* explicit dark mode */
.dark-mode {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

/* implicit dark mode */
@media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

.mdx {
  /* add standard spacing after every block */
  & > * {
    margin-block-end: var(--spacing-md);
  }

  & blockquote {
    margin-left: 0;
    padding-left: var(--spacing-md);
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: var(--colors-primary);
    font-style: italic;
  }

  /* code blocks are pre > code */

  & pre {
    overflow: auto;
    border-radius: 4px;
    background-color: var(--colors-bg-code);

    & code {
      width: max-content;
      padding: var(--spacing-md);
    }
  }

  /* inline code is code with no pre parent */

  & code {
    font-family: var(--fonts-monospace);

    &:not(pre code) {
      background-color: var(--colors-bg-code);
      padding-block: 2px;
      padding-inline: 5px;
      border-radius: 4px;
    }
  }
}
