/* https://rehype-pretty-code.netlify.app/#multiple-themes-dark-and-light-mode */

/* implicit dark mode */
code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

/* implicit light mode */
@media (prefers-color-scheme: light) {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }
}

.mdx {
  /* add standard spacing after every block */
  & > * {
    margin-block-end: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-block-start: 8px;
  }

  img {
    height: auto;
  }

  & blockquote {
    margin-left: 0;
    padding-left: 8px;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: var(--color-accent);
    font-style: italic;
  }

  /* code blocks are pre > code */

  & pre {
    overflow: auto;
    border-radius: 4px;
    background-color: var(--overlay-background);

    & code {
      width: max-content;
      padding: 16px;
    }
  }

  /* inline code is code with no pre parent */

  & code {
    font-family: var(--global-fonts-monospace);

    &:not(pre code) {
      background-color: var(--overlay-background);
      padding-block: 2px;
      padding-inline: 5px;
      border-radius: 4px;
    }
  }

  & ul,
  ol {
    list-style-position: inside;
  }
  & ul {
    list-style-type: disc;
  }
  & ol {
    list-style-type: decimal;
  }
}
