.mortgage-table {
  overflow: scroll;
  container-type: inline-size;

  table {
    width: 100%;
    font-family: var(--global-font-monospace);
    text-wrap: nowrap;
    text-overflow: ellipsis;
    text-align: end;
  }
}

@container (width < 600px) {
  .mortgage-table table {
    font-size: 0.8rem;
  }
}

dt {
  font-weight: bold;
}

dd {
  padding-inline-start: 8px;
}
