.react-aria-Button {
  --button-height: var(--input-height);

  position: relative;
  color: var(--text-color);
  background: var(--button-background);
  border-radius: calc(var(--button-height) / 2);
  appearance: none;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  outline: none;
  border: none;
  padding: 6px 16px;
  text-decoration: none;
  cursor: pointer;
  min-height: var(--button-height);
  min-width: var(--button-height);

  display: flex;
  align-items: center;
  justify-content: center;

  &[data-pressed],
  &[data-toggled='true'] {
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
    background: var(--button-background-pressed);
    border-color: var(--color-border-pressed);
  }

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: -1px;
  }

  &[data-disabled],
  &[data-pending] {
    border-color: var(--color-border-disabled);
    color: var(--text-color-disabled);
  }

  &[data-variant='primary'] {
    color: var(--highlight-foreground);
    background: var(--highlight-background);

    &[data-pressed],
    &[data-toggled='true'] {
      color: var(--highlight-foreground-pressed);
      background: var(--highlight-background-pressed);
    }
  }

  &[data-variant='danger'] {
    color: var(--highlight-foreground);
    background: var(--highlight-background-invalid);

    &[data-pressed],
    &[data-toggled='true'] {
      color: var(--highlight-foreground-pressed);
      background: var(--button-background-invalid-pressed);
    }
  }

  &[data-variant='flat'] {
    border: none;
    background: none;
    text-decoration: underline;
    padding: 8px;

    &[data-pressed],
    &[data-toggled='true'] {
      color: var(--highlight-foreground-pressed);
      background: var(--button-background-pressed);
    }
  }

  .corner-indicator {
    position: absolute;
    top: 14px;
    right: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: translate(50%, -50%);
  }
  .corner-indicator-error {
    background-color: var(--highlight-background-invalid);
  }
}
