body {
  margin: 0;
}

:root {
  --brand-color: #385170;
  --accent-color: #0c9479;
}

/*
Color mode

In some cases it's convenient to simply render 2 versions of some element--a
dark-mode version and a light-mode version--and to hide whichever one is not
relevant.

This provides a CSS-only solution, but costs bytes and rendering overhead, so
there is a tradeoff.
*/

@media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
  [data-colormode='light'] {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  [data-colormode='dark'] {
    display: none;
  }
}
