@import './theme.css';

:root {
  background: var(--background-color);
  font-family: var(--global-font-normal);
  color: var(--text-color);
  font-size: 18px;
}

/*
Color mode

In some cases it's convenient to simply render 2 versions of some element--a
dark-mode version and a light-mode version--and to hide whichever one is not
relevant.

This provides a CSS-only solution, but costs bytes and rendering overhead, so
there is a tradeoff.
*/

[data-colormode='light'] {
  display: none;
}

@media (prefers-color-scheme: light) {
  [data-colormode='dark'] {
    display: none;
  }
}
