.page-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  > header {
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 16px;
    padding-block: 8px;

    border-bottom: 1px solid var(--color-border);

    /* block padding + border */
    min-height: calc(var(--input-height) + 16px + 1px);

    .breadcrumbs {
      @media screen and (width <= 768px) {
        display: none;
      }
    }

    .panel-toggle {
      display: none;

      @media screen and (width <= 768px) {
        display: block;
      }

      &.panel-toggle-left {
        margin-inline-end: 8px;
      }
      &.panel-toggle-right {
        margin-inline-start: 8px;
      }
    }
  }

  > .panel-layout {
    flex-grow: 1;

    position: relative;
    display: flex;
    min-height: 0;

    > aside {
      min-width: 300px;
      flex-basis: 30%;
      flex-grow: 0;

      display: flex;
      flex-direction: column;
      background-color: var(--background-base);

      @media (width <= 768px) {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: calc(100% - 32px);
        background-color: var(--background-raised);
        box-shadow: var(--shadow-raised);
      }

      &.side-left {
        border-right: 1px solid var(--color-border);

        @media (width <= 768px) {
          &[data-expanded='false'] {
            transform: translateX(-100%);
          }
        }
      }

      &.side-right {
        border-left: 1px solid var(--color-border);

        @media (width <= 768px) {
          &[data-expanded='false'] {
            transform: translateX(100%);
          }
        }
      }

      > header {
        flex-grow: 0;
        flex-shrink: 0;

        padding: 16px;
        border-bottom: 1px solid var(--color-border);
      }

      > section {
        flex-grow: 1;
        min-height: 0;

        padding: 16px;
        overflow: auto;
      }

      > footer {
        flex-grow: 0;
        flex-shrink: 0;

        padding: 16px;
        border-top: 1px solid var(--color-border);
      }
    }

    > main {
      flex-grow: 1;

      padding: 16px;
      overflow: auto;

      &.width-editorial {
        margin-inline: auto;
        max-width: 900px;
      }

      &.width-form {
        margin-inline: auto;
        max-width: 640px;
      }
    }
  }
}
