.mortgage-table {
  overflow: scroll;
  container-type: inline-size;

  table {
    width: 100%;
    font-family: var(--global-font-monospace);
    text-wrap: nowrap;
    text-overflow: ellipsis;
    text-align: end;
  }
}

@container (width < 600px) {
  .mortgage-table table {
    font-size: 0.8rem;
  }
}

.metric {
  display: flex;
  flex-direction: column;
}

[slot='metric-compact'] {
  display: block;
  font-size: 1.5rem;
}

[slot='supporting'] {
  display: block;
  font-size: 0.8rem;
  color: var(--text-placeholder);
}
