.card {
  box-sizing: border-box;
  background-color: var(--additive-background-1);
  padding: 16px;
  box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
  border-radius: 6px;

  display: flex;
  flex-direction: column;

  .header,
  .footer {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .content {
    flex-grow: 1;
  }
}
